@import '../../utils/mixins';

.menu {
  display: flex;
  align-items: center;

  i {
    color: white;
    cursor: pointer;
    font-size: 30px;
    padding: 10px;

    @include for-tablet-landscape {
      font-size: 15px;
    }
  }

  &__bars {
    margin-right: 10.4vw;
  }

  &__nav {
    color: white;
    cursor: pointer;
    display: flex;
    font-family: 'Dosis', sans-serif;
    font-size: 25px;
    justify-content: space-between;
    list-style: none;
    margin: 0 2.2vw 0 auto;
    padding: 0;
    width: 350px;

    & li {
      align-items: center;
      display: flex;
      flex-direction: column;
      position: relative;

      a {
        text-decoration: none;
        color: white;

        &:hover {
          color: rgba(white, .5)
        }
      }
    }
  }

  &__social {
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
    width: 130px;
  }

  &--responsive {
    position: relative;

    .menu__content {
      display: flex;
      position: fixed;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 0;
      background: #2e1537;
      flex-direction: column;
      transition: width .3s ease;
      border-left: 1px solid rgba(0, 0, 0, 0.2);
      will-change: width;

      &--open {
        width: 50%;
      }
    }

    .menu__logo {
      height: 50px;
      margin: 10px auto;

      @include for-phone-only {
        height: 35px;
      }
    }

    .menu__social {
      display: flex;
      justify-content: space-between;
      margin: 20px auto;
      width: 60%;

      @include for-tablet-landscape {
        margin: 15px auto;
        width: 40%;
      }

      @include for-phone-only {
        margin: 10px auto;
      }
    }

    nav {
      margin: 0;
      align-items: baseline;
      font-size: 20px;
      flex-direction: column;
      width: unset;

      @include for-tablet-landscape {
        font-size: 15px;
      }

      @include for-phone-only {
        font-size: 12px;
      }

      & > li {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        border-bottom: 1px solid rgba(0,0,0,0.2);
        align-items: baseline;

        a {
          text-decoration: none;
          width: 100%;
          padding: 20px;

          @include for-tablet-landscape {
            padding: 15px;
          }

          @include for-phone-only {
            padding: 10px;
          }
        }
      }
    }
  }
}