@import '../../utils/mixins';

.events {
  margin: 0 auto 20px;
  position: relative;
  width: 85%;

  &__filter {
    background: url('../../assets/backgrounds/events-shadow.png');
    background-size: 100%;
    height: 100%;
    left: -1px;
    position: absolute;
    top: 0;
    width: calc(100% + 5px);
    z-index: 2;
    pointer-events: none;
  }

  &__title {
    color: #fff;
    font-size: 50px;
    font-weight: 400;
    margin: 0 0 40px;

    @include for-tablet-landscape {
      font-size: 25px;
      margin: 0 0 20px;
    }

    @include for-phone-only {
      font-size: 15px;
      margin: 0 0 12px;
    }
  }

  &__container {
    width: 100%;
    position: relative;
  }

  &__content {
    align-items: center;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    height: 380px;

    @include for-tablet-landscape {
      height: 250px;
    }

    @include for-phone-only { 
      height: 160px;
    }
  }

  &__content-overlay {
    align-items: flex-end;
    display: flex;
    height: 100%;
    opacity: 0;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 2;

    @include for-tablet-landscape {
      opacity: 1;
      box-shadow: inset 0 -300px  200px -82px #3b1255a6;
    }
  }

  &__content-image {
    transition: all .5s linear;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content:hover &__content-image {
    transform: scale(1.2);
  }

  &__content:hover &__content-info,
  &__content:hover &__content-title,
  &__content:hover &__content-description {
    opacity: 1;
  }

  &__content:hover &__content-overlay {
    box-shadow: inset 0 -300px  200px -82px #3b1255;
    opacity: 1;
  }

  &__content-info {
    bottom: 0;
    font-size: 14px;
    padding: 20px;
    opacity: 0;
    width: 100%;
    position: absolute;
    z-index: 2;
    box-sizing: border-box;

    @include for-tablet-landscape {
      opacity: 1;
    }
  }

  &__content-description {
    @include for-tablet-landscape {
      display: none;
    }
  }

  &__content-title {
    z-index: 2;
    text-align: center;
  }
}
