.services {
  &__article-container {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5% 15%;

    & article {
      box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.75);
      width: 32%;
      margin-bottom: 30px;
      cursor: pointer;
      transition: all .1s linear;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}